.socialfan-container {
	display: inline-block;
	position: relative;
}
.socialfan {
	display: inline-block;
	width: 200px;
}
.socialfan .socialfan-img-container {
	border-radius: 1000px;
	border: 2px solid #aaa;
}
.socialfan img {
	border-radius: 1000px;
	position: relative;
	top: 2px;
	left: 2px;
	z-index: 2;
}
.socialfan-wedge {
	width: 0;
	height: 0;
	border-right: 90px solid orange;
	border-top: 15px solid transparent;
	border-bottom: 15px solid transparent;
	/*-webkit-transform: rotate(30deg);*/
}
.socialfan-service {
	-webkit-transition: all 0.1s ease-in-out;
	position: absolute;
	top: 50%;
	left: 50%;
	margin-top: -15px;
	z-index: 1;
	-webkit-transform-origin: 0% 50%;
}
.socialfan:hover .socialfan-service {
	left: 60%;
	-webkit-transition: all 0.3s ease-in-out;
}
